*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

#cont {
    width: 90vmin;
    height: 90vmin;
    border: 2px solid rgb(235, 86, 0);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:  repeat(8, 1fr);
    position: relative;
}

#cont img {
    width: 12.5%;
    position: absolute;
    pointer-events: none;
}

.white{
    background-color: #f0d9b5;
}

.black{
    background-color:  #b58863;
}

.black.active{
    background-color: mix( #b58863, rgba(0, 255, 0, .5 ));
}


.white.active{
    background-color: mix( #b58863, rgba(0, 255, 0, 0.5));
}